<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="Logo">
      {% endif %}
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
